body
{
    background-color: slategray;
}
.centered
{
    color: tomato;
    margin: auto;
    width: 50%;
    padding: 10px;
}
#energyText
{
    font-family: fantasy;
    font-size: xx-large;
    letter-spacing: 0.1em;
}
#energyCount
{
    color: seashell;
}
.clearHistory
{
    margin-top: 2px;
    margin-bottom: 10px;
}
.cardHolder
{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: dodgerblue;
    width: auto;
    height: auto;
}
.cardDiv
{
    margin: 5px;
}
.cardImage
{
    margin: 5px;
    width: 30%;
    height: auto;
}
